<h1>Reservas Disponibles</h1>

<% if flash[:alert] %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
  </div>
<% end %>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Fecha</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    <% if @citas_disponibles.present? %>
      <% @citas_disponibles.each do |cita| %>
        <tr>
          <td><%= cita.fecha_hora.strftime("%d/%m/%Y %H:%M") %></td>
          <td>
            <!-- Botón para abrir el modal de reserva -->
            <% if cita.estado == 'disponible' %>
              <%= button_to 'Reservar', new_citas_disponible_reserva_path(citas_disponible_id: cita.id), method: :get, class: 'btn btn-primary' %>

            <% else %>
              Reservada
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No hay reservas disponibles en este momento.</td>
      </tr>
    <% end %>
  </tbody>
</table>
