<h1>Cancelaci칩n de Reserva</h1>
<p>Hola <%= @reserva.nombre %>,</p>
<p>Lamentamos informarte que tu reserva ha sido cancelada.</p>
<p>Detalles de la reserva cancelada:</p>
<ul>
  <li>Cita: <%= @reserva.cita_disponible.try(:id) %></li>
  <li>Fecha y hora: <%= @reserva.cita_disponible.try(:fecha_hora) %></li>
</ul>
<p>Por favor, cont치ctanos si necesitas m치s informaci칩n.</p>
